registry=https://repo.huaweicloud.com/repository/npm/

# App-only override for npm installs in app/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
